body {
    background: url("../img/dark_leather.png") repeat;
}

.content {
    background: url("../img/red-hand-banner.png") no-repeat top center;
    min-height: 585px;
}

.navbar-inverse .navbar-inner {
    background-color: #282E2B;
}

img {
    border: 3px solid #e36b23;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.image-frame .source {
    margin: 3px 0px 0px 0px;
    padding: 0px;
    font-style: italic;
}
